<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
	<title>projecteo</title>

	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Included Bootstrap CSS Files -->
	<link rel="stylesheet" href="./js/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="./js/bootstrap/css/bootstrap-responsive.min.css" />

	<!-- Includes FontAwesome -->
	<link rel="stylesheet" href="./css/font-awesome/css/font-awesome.min.css" />

	<!-- Css -->	
	<link rel="stylesheet" href="./css/style.css" />

	<!-- Google Font -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>

</head>
<body>

	<!-- Navbar -->
	<div class="navbar-left">
		<ul class="nav">
			<li>
				<a class="scroll enabled" href="#page1" title="Services">
					<i class="icon-cogs"></i>
					<span class="arrow"> </span>
				</a>
			</li>
			<li>
				<a class="scroll" href="#page2" title="Portfolio">
					<i class="icon-book"></i>
					<span class="arrow"> </span>
				</a>
			</li>
			<li>
				<a class="scroll" href="#page3" title="About Us">
					<i class="icon-group"></i>
					<span class="arrow"> </span>
				</a>
			</li>
			<li>
				<a class="scroll" href="#page4" title="Contact">
					<i class="icon-envelope-alt"></i>
					<span class="arrow"> </span>
				</a>
			</li>

		</ul>
	</div>
	<!-- /Navbar -->


	<!-- Services -->
	<div id="page1" class="page bgcolor center">
		<div class="container">
			<div class="row">
				<div class="span12">
					<h1><i class="icon-cogs"></i><span>Gene O</span></h1>
					<p class="large"><i class="icon-quote-left"></i>&nbsp;
						I am a passionate web developer with knowledge in <strong>voluptate velit esse cillum dolore eu fugiat</strong> nulla pariatur, aute dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur aute irure.&nbsp;<i class="icon-quote-right"></i>
					</p>
				</div>
			</div>

			
			<div class="row">
				<div class="span3">
				</div>

				<div class="span6 left">
					<h2>Lorem Ipsum voluptate velit esse cillum dolore eu fugiat</h2>
					<p>Duis aute irure dolor in reprehenderit in <strong>voluptate velit esse cillum dolore eu fugiat</strong> nulla pariatur, aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur aute irure.</p>
					<p>Irure dolor in reprehenderit in <strong>voluptate velit esse cillum dolore eu fugiat</strong> nulla pariatur, aute dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur aute irure.</p>
					<p>Irure dolor in reprehenderit in <strong>voluptate velit esse cillum dolore eu fugiat</strong> nulla pariatur, aute dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur aute irure.</p>
					
					
				</div>

				<div class="span3">
				</div>

			</div>
		</div>
	</div>

	<!-- /Services-->

	<div id="page2" class="page bgcolor">
		<span class="arrow"></span>
		<div class="container">
			<div class="row">
				<div class="span12 center">
					<h1>Portfolio</h1>
					<h3>Some of our latest works!</h3>
				</div>
			</div>

			<div class="row">
				<div class="span12 center">
					<!-- Portfolio -->
					<div id="portfolio-view" class="row">
						<div class="span2">
							<!-- Portfolio Button Filters -->
							<ul id="portfolio-filter" class="nav">
								<li class="active"><a href="#" class="filter" data-filter="*">All</a></li>
								<li class=""><a href="#" class="filter" data-filter="category1">Category 1</a></li>
								<li class=""><a href="#" class="filter" data-filter="category2">Category 2</a></li>
								<li class=""><a href="#" class="filter" data-filter="category3">Category 3</a></li>
							</ul>
							<!-- /Portfolio Button Filters -->
						</div>

						<div class="span10">
							<!-- Portfolio Items Container -->
							<div class="row vspace30" id="portfolio-items">
								<!-- Portfolio Item -->
								<div class="span3 portfolio-item category1">
									<div class="thumbnail center">
										<img src="./img/portfolio/bg_03.jpg" data-gallery="" title="" alt="" />
										<div class="caption">
											<h4>Work label (category1)</h4>
											<i>Sed ut perspiciatis unde omnis iste.</i>
										</div>
									</div>
								</div>
								<!-- /Portfolio Item -->

								<!-- Portfolio Item -->
								<div class="span3 portfolio-item category2">
									<div class="thumbnail center">
										<img src="./img/portfolio/bg_05.jpg" data-gallery="" title="" alt="" />
										<div class="caption">
											<h4>Work label (category2)</h4>
											<i>Sed ut perspiciatis unde omnis iste.</i>
										</div>
									</div>
								</div>
								<!-- /Portfolio Item -->

								<!-- Portfolio Item -->
								<div class="span3 portfolio-item category3">
									<div class="thumbnail center">
										<img src="./img/portfolio/bg_06.jpg" data-gallery="" title="" alt="" />
										<div class="caption">
											<h4>Work label (category3)</h4>
											<i>Sed ut perspiciatis unde omnis iste.</i>
										</div>
									</div>
								</div>
								<!-- /Portfolio Item -->

								<!-- Portfolio Item -->
								<div class="span3 portfolio-item category2">
									<div class="thumbnail center">
										<img src="./img/portfolio/bg_07.jpg" data-gallery="" title="" alt="" />
										<div class="caption">
											<h4>Work label (category2)</h4>
											<i>Sed ut perspiciatis unde omnis iste.</i>
										</div>
									</div>
								</div>
								<!-- /Portfolio Item -->

								<!-- Portfolio Item -->
								<div class="span3 portfolio-item category3">
									<div class="thumbnail center">
										<img src="./img/portfolio/bg_02.jpg" data-gallery="" title="" alt="" />
										<div class="caption">
											<h4>Work label (category3)</h4>
											<i>Sed ut perspiciatis unde omnis iste.</i>
										</div>
									</div>
								</div>
								<!-- /Portfolio Item -->

								<!-- Portfolio Item -->
								<div class="span3 portfolio-item category2">
									<div class="thumbnail center">
										<img src="./img/portfolio/bg_09.jpg" data-gallery="" title="" alt="" />
										<div class="caption">
											<h4>Work label (category2)</h4>
											<i>Sed ut perspiciatis unde omnis iste.</i>
										</div>
									</div>
								</div>
								<!-- /Portfolio Item -->

								
							</div>
							<!-- Portfolio Items Container -->
						</div>
					</div>
					<!-- /Portfolio -->
					<div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="page3" class="page center bgcolor">
		<span class="arrow"></span>
		<div class="container">
			<div class="row">
				<div class="span12 center">
					<h1><span>About Us</span></h1>
					<h3>Esse cillum dolore eu fugiat nulla pariatur aute irure dolor in reprehenderit in voluptate</h3>
				</div>
			</div>

			<hr />

			<!-- About Us -->
			<div class="row">
				<div class="span8 left">
					<h2>Since 1999...</h2>
					<p><strong>Duis aute irure dolor</strong> in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
					<p>Dolore eu fugiat nulla <strong class="">pariatur aute irure dolor</strong> in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
					<p>Dolore eu fugiat nulla in voluptate velit esse cillum dolore eu fugiat nulla pariatur aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat in voluptate velit esse cillum dolore eu fugiat nulla pariatur in voluptate velit esse cillum dolore eu fugiat nulla pariatur aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
					<p>Dolore eu fugiat nulla <strong class="">pariatur aute irure dolor</strong> in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
				</div>

				<div class="span4 left">
					<h2>They say...</h2>
					<div class="well opinion">
						<span class="tail"> </span>
						<p>In voluptate velit esse cillum dolore eu fugiat nulla pariatur aute irure dolor</p>
					</div>
					<p class="opinion-who"><i class="icon-user"></i>&nbsp;<strong>John Red</strong></p>

					<div class="well opinion">
						<span class="tail"> </span>
						<p>In voluptate velit esse cillum dolore eu fugiat nulla pariatur aute irure dolor</p>
					</div>
					<p class="opinion-who"><i class="icon-user"></i>&nbsp;<strong>John Green</strong></p>

					<div class="well opinion">
						<span class="tail"> </span>
						<p>In voluptate velit esse cillum dolore eu fugiat nulla pariatur aute irure dolor</p>
					</div>
					<p class="opinion-who"><i class="icon-user"></i>&nbsp;<strong>John Blue</strong></p>
	
				</div>
			</div>
			<!-- /About Us -->
		</div>
	</div>

	
	<!-- Contact -->
	<div id="page4" class="page bgcolor">
		<span class="arrow"></span>
		<div class="container">
			<div class="row">
				<div class="span12 center">
					<h1><span><i class="icon-envelope-alt"></i>&nbsp;Contact Us</span></h1>
					<h3>write us  for everything you want to ask, we will be glad to answer you.</h3>
				</div>
			</div>

			<div class="row">
				<div class="span12 center">
					<form id="contactForm" class="form">
						<div class="controls">
							<input id="ContactFirstName" name="ContactFirstName" type="text" placeholder="First Name" class="span8" />
						</div>
						<div class="controls">
							<input id="ContactLastName" name="ContactLastName" type="text" placeholder="Last Name" class="span8" />
						</div>
						<div class="controls">
							<input id="ContactEmail" name="ContactEmail" type="text" placeholder="Email" class="span8" />
						</div>
						<div class="controls">
							<textarea id="ContactMessage" name="ContactMessage" placeholder="Message" class="span8" rows="10"></textarea>
						</div>
						<div class="alert alert-error" style="display:none">
							Please fill out the form completely.
						</div>
						<button class="btn-theme">Send</button>
					</form>
					<div id="thanks" style="display:none">
						Thanks!
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Contact -->

	<footer>
		&copy;&nbsp;lorem iplsum 2013 | Phone (+99) 09.122.124.342 Mail anybody@thisdomain.com<br /><br />
		<a href="#"><img src="./img/socials/32/Facebook.png" alt="" /></a>
		<a href="#"><img src="./img/socials/32/Twitter.png" alt="" /></a>
		<a href="#"><img src="./img/socials/32/Linkedin.png" alt="" /></a>
		<a href="#"><img src="./img/socials/32/Pinterest.png" alt="" /></a>
		<a href="#"><img src="./img/socials/32/Google+.png" alt="" /></a>
		<a href="#"><img src="./img/socials/32/Youtube.png" alt="" /></a>
	</footer>

	<a id="scrollToTop"><i class="icon-caret-up"></i></a>
	

	<script src="./js/jquery-1.10.0.min.js"></script>
	<script src="./js/bootstrap/js/bootstrap.min.js"></script>
	<script src="./js/script.js"></script>
</body>
</html>