	p { 
		color: orange; 
		font-size 1.5em; 
		padding-left: 20px;
	}
	
	body {					
		
		background: #FFFFFF url(../img/bg.jpg) center center fixed no-repeat;
	}
	
	h1 {	
		
		padding-left: 20px;
		color:yellow;
		
	}
	